<div id="fh5co-page"> 
  <div id="fh5co-main">
    <div class="fh5co-narrow-content"> 
      <div class="container text-center">
        <div class="form users-form">
          <div class="form-body">
            <% @user.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            <div class="form-heading border-bottom border-primary border-2 d-inline-block mb-5"><h1>ユーザー情報の編集</h1></div>
              <div class="form users-form">
                <div class="form-body">
                  <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
                    <div class="form-group d-flex flex-column bd-highlight width-200 mb-3">
                      <label for="name_input" class="form-label bd-highlight">ユーザー名</label>
                      <input name="name" value = "<%= @user.name%>"　class="form-control p-2 bd-highlight" id="name_input">
                    </div>

                    <div class="form-group d-flex flex-column bd-highlight width-200 mb-3">
                      <label for="email" class="form-label bd-highlight">メールアドレス</label>
                      <input type="email" name="email" value = "<%= @user.email%>"　class="form-control p-2 bd-highlight" id="email" placeholder="name@example.com">
                    </div>

                    <div class="form-group d-flex flex-column bd-highlight width-200 mb-3">
                      <label for="comment" class="form-label bd-highlight">コメント</label>
                      <input type="text" name="comment" value = "<%= @user.comment%>"　class="form-control p-2 bd-highlight" id="comment">
                    </div>

                    <div class="form-group d-flex flex-column bd-highlight width-200 mb-3">
                      <label for="image" class="form-label bd-highlight">画像</label>
                      <input name="image" type="file" class="form-control p-2 bd-highlight" id="image">
                    </div>
                  
                    <div class="form-group mb-3">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="female"
                        <%if @user.gender=="female"%>
                          <%="checked"%>
                        <%end%>>
                        <label class="form-check-label" for="flexRadioDefault1">
                          女性
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="male" 
                        <%if @user.gender=="male"%>
                          <%="checked"%>
                        <%end%>>
                        <label class="form-check-label" for="flexRadioDefault2">
                          男性
                        </label>
                      </div>
                    </div>

                    <input type="submit" value="保存" class="btn btn-primary">
                  <% end %>
                </div>
              </div>
            </div> 
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>