<div id="fh5co-page"> 
  <div id="fh5co-main">
    <div class="fh5co-narrow-content"> 
      <div class="container pt-5">
        <div class="pt-5">  
          <div class="text-center">
            <img class="rounded-circle border mb-3 img_circle" src="<%= "/user_images/#{@user.image_name}" %>">
            <h2><%= @user.name %></h2>
            <p><%= @user.email %></p>
            <div class="fs-5">
              <% if @user.id == @current_user.id %>
                <%= link_to("編集", "/users/#{@user.id}/edit") %>
              <% end %>
            </div>
          </div>
          <ul class="nav nav-tabs">
            <li><%= link_to("投稿", "/users/#{@user.id}", {class: "nav-link text-decoration-none text-dark"}) %></li>
            <li><%= link_to("いいね!", "/users/#{@user.id}/likes", {class: "active nav-link text-decoration-none text-dark"}) %></li>
          </ul>

          <div class="d-flex flex-column">
            <% @likes.each do |like| %>
              <% post = Post.find_by(id: like.post_id) %>
                <div class="posts-index-item py-3 border">
                  <div class="post-left px-4">
                    <img class="img_circle_small rounded-circle border mb-3" src="<%= "/user_images/#{post.user.image_name}" %>">
                  </div>
                  <div class="post-right">
                    <div class="post-user-name">
                      <%= link_to(post.user.name, "/users/#{post.user.id}", {class: "text-decoration-none fw-bolder text-dark fs-4"}) %>
                    </div>
                    <div>
                      <%= link_to(post.content, "/posts/#{post.id}", {class: "text-decoration-none fw-normal text-dark fs-4"}) %>
                    </div>
                  </div>
                </div>
            <% end %> 
          </div>
      </div>
    </div>
  </div>
</div>